 
<div style="height:35px" class="visible-md-block visible-lg-block">
	&nbsp;
</div>
<fieldset style="margin-top:20px;">
	<legend>New Match</legend>
	
	<div class="">
		<form class="form-horizontal" {{action "addGame" on="submit"}}>
			<div class="form-group">
				<label class="col-sm-3 control-label">Player 1 Name</label>
				<div class="col-sm-9">
					{{input value=model.player1Name classNames="form-control"}}
				</div>
			</div>


			<div class="form-group">
				<label class="col-sm-3 control-label">Player 1 Score</label>
				<div class="col-sm-9">
					{{input value=model.player1Score classNames="form-control"}}
				</div>
			</div>


			<br><br>

			<div class="form-group">
				<label class="col-sm-3 control-label">Player 2 Name</label>
				<div class="col-sm-9">
					{{input value=model.player2Name classNames="form-control"}}
				</div>
			</div>


			<div class="form-group">
				<label class="col-sm-3 control-label">Player 2 Score</label>
				<div class="col-sm-9">
					{{input value=model.player2Score classNames="form-control"}}
				</div>
			</div>

			<button class="btn btn-primary">Save Match</button>
		</form>
	</div>

</fieldset>

{{outlet}}
