<div class="row" {{bind-attr class="isNew:alert alert-success"}}>
	<div class="col-xs-3 text-right">
		<strong>
			{{match.player1Name}}
		</strong>
	</div>
	<div class="col-xs-1 text-center">
		{{match.player1Score}}
	</div>

	<div class="col-xs-1 text-center">
		-
	</div>

	<div class="col-xs-1 text-center">
		{{match.player2Score}}
	</div>
	<div class="col-xs-3 text-left">
		<strong>
			{{match.player2Name}}
		</strong>
	</div>
	
	{{#if showDeleteMatchButton}}
		<div class="col-xs-1 text-center">
			<div style="cursor:pointer" {{action "delete"}}><i class="fa fa-trash"></i></div>
		</div>
	{{/if}}
</div>

{{yield}}
