<div class="container">
	<div class="row">
		<div class="col-md-6">
			<ul class="nav nav-tabs" style="margin-top: 30px">
				<li {{bind-attr class="showingTable:active"}}>
					<a style="cursor:pointer" {{action showTable}}>
						Table
					</a>
				</li>
				<li {{bind-attr class="showingMatches:active"}}>
					<a style="cursor:pointer" {{action showMatches}}>
						Matches
					</a>
				</li>
			</ul>				
			<div class="container">
				{{#if showingTable}}
				<div id="score" class="table-responsive">
					<table class="table ">
						<thead></thead>
						<tbody>
							<tr>
								<td>Hello</td>
							</tr>
						</tbody>
					</table>
				</div>
				{{/if}}	

				{{#if showingMatches}}
					<div id="matches">
						{{#each game in controller}}
							<div class="row">
								<div class="col-xs-3 text-right">
									<strong>
									{{game.player1Name}}
									</strong>
								</div>
								<div class="col-xs-1 text-center">
									{{game.player1Score}}
								</div>

								<div class="col-xs-1 text-center">
									-
								</div>

								<div class="col-xs-1 text-center">
									{{game.player2Score}}
								</div>
								<div class="col-xs-3 text-left">
									<strong>
									{{game.player2Name}}
									</strong>
								</div>

								<div class="col-xs-1 text-center">
									<div style="cursor:pointer"><i class="fa fa-trash"></i></div>
								</div>
							</div>
						{{/each}}
					</div>
				{{/if}}
			</div>

		</div>
		<div class="col-md-offset-1 col-md-5">
			{{outlet}}		
		</div>
	</div>
</div>
