<div class="container">
	<div class="row">
		<div class="col-md-6">
			<ul class="nav nav-tabs" style="margin-top: 30px">
				<li {{bind-attr class="showingTable:active"}}>
					<a style="cursor:pointer" {{action 'showTable'}}>
						Table
					</a>
				</li>
				<li {{bind-attr class="showingMatches:active"}}>
					<a style="cursor:pointer" {{action 'showMatches'}}>
						Matches
					</a>
				</li>
			</ul>				
			<div style="padding-top: 30px;">
				{{#if showingTable}}
					{{sm-table matches=attrs.matches}}
				{{/if}}	

				{{#if showingMatches}}
					<div id="matches">
						{{#each match in attrs.matches}}
							{{sm-match match=match onDelete='deleteGame'}}
						{{/each}}
					</div>
				{{/if}}
			</div>

		</div>
		<div class="col-md-offset-1 col-md-5">
			{{outlet}}		
		</div>
	</div>
</div>
